/* RESET */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

.clearfix::after{
    content:"";
    display:table;
    clear:both;
}

.relative{
    position:relative;
}

/* .overflow{
    overflow:scroll;
} */

body{
    font-family:'Circular Std', sans-serif;
    
}

a:link{
    color:white;
}

h1{
    margin-bottom:10px;
}

h5{
    display:inline-block;
    padding:2px 5px;
    font-size:11px;
    color:white;
    vertical-align: middle;
}

h6{
    position:absolute;
    font-size:.7rem;
    color:gray;
    width:80px;
    line-height: 2rem;
    left:2.4rem; 
}

footer{
    width:100vw;
    height:70px;
    background-color:rgb(40,40,40);
    color:white;
    display:flex;
    justify-content:space-between;
    position:fixed;
    z-index:12;
    bottom:0;
    line-height:10vh;
    padding:0 10px;
}

input{
    width:100px;
}

.call-to-action{
    background-color: rgb(9,11,18);
    width:calc(100% - 170px);
    height:70px;;
    text-align:right;
    line-height:9vh;
    padding:0 10px;
    float:right;
    position:fixed;
    z-index:11
}

.btn-upgrade {
    border-radius:20px;
    background-color: rgb(9,11,18);
    border: 1px solid white;
    padding:10px 30px;
    text-decoration:none;
    color:white;
    font-size:0.7rem;
    font-weight:bold;
    text-transform:uppercase;
}

.nav-sidebar{
    display:flex;
    flex-direction:column;
    align-items:space-between;
    padding:1rem;
    margin-top:45px;
}

.nav-icon{
    width:20px;
    vertical-align:middle;
    padding-bottom:8px;
    margin-top:8px;
    
}

.nav-sidebar h4{
    text-transform:uppercase;
    font-size:0.7rem;
    margin:20px 0 10px 0;

}

.nav-sidebar p{
    margin:3px 0;
    font-size:0.6rem;
    line-height:1.5rem;
    
}

.square{
    width:28px;
    height:28px;
    background-color:gray;
    color:black;
    line-height: 3rem;
    margin-bottom:10px;
}

.square p{
    display:inline-block;
    line-height:2px;
    width:500px;
    font-size:0.5rem;
}

.add{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:flex;
    font-size:1.8rem;
}

.install-app img{
    width:20px;
    height:20px;
    background-color:gray;
    border-radius:50%;
    margin-right:5px;
    vertical-align: middle;
    display: inline-block;
}

.install-app p, i{
    font-size:0.7rem;
    display:inline-block;
    margin-left:5px;
    padding:1px;
    color:gray;
}

.install-app .doe{
    font-weight:bold;
    font-size: 0.8rem;
    margin-top:10px;
}

.install{
    margin-top:43px;
}

.playlist{
    margin-bottom:150px;
}

.playlist p{
    color:gray;
}

.album-small{
    width:30px;
    vertical-align:middle;
    /* margin-top:15px;
    display:inline-block; */
    /* float:left; */
}

.album {
    font-size:0.6rem;
    line-height:10px;
    font-weight:bold;
    float:left;
    padding: 5px 10px;
    margin-top:15px;
    
}

.album-name{
    font-size:.5rem;
    color:gray;
    
    
}

.album-icon{

    
    
    
}

.album-icon i{
    font-size:11px;
}

.player-control .player>i{
    margin-right:1.3rem;
    font-size: 0.8rem;
    color:white;
}

.player-control .player>i:nth-of-type(3){
    font-size: 1.5rem;
    vertical-align:middle;
}

.player-control{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top:8px;
    line-height:0;
    
}

.player{
    padding-bottom:5px;    
}

.timer {
    display: inline-block;
    font-size:0.6rem;
    line-height:0.6rem;
    margin:0 20px;
}

input#timer{
    width:270px;
}

.timing{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:0px;
}

.playing{
    /* width:15%; */
    display:flex;
    justify-content:;
    align-items:center;
    
}

/* .right-control{
   
} */

.right-control i{
    margin-right:10px;
    font-size:.7rem;
    
}       

/* .right-control input{
    
} */

.control{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    
    
}

.control i{
    color:white;
}

#main-logo{
    padding:1rem;
    width:130px;
    position:fixed;
    background-color:black;
    z-index:3;
}

section#col-left {
    width:170px;
    background-color:black;
    display:flex;
    align-items:space-between;
    flex-direction:column;
    color:white;
    float:left;
    position:fixed;
    min-width: 100px;
    
}

section#main-area{
    width:calc(100% - 170px);
    background-color:rgb(21,25,33);
    float:right;
    color:white;
}

.top-nav{
    margin-top:80px;
    display:flex;
    justify-content:space-around;
    text-transform:uppercase;
    color:gray;
}

.top-nav ul{
    list-style-type: none;
}

.top-nav li{
    font-size:0.6rem;
    display: inline;
    font-weight:bold;
}

.top-nav a{
    text-decoration:none;
    color:gray;
    margin-right:15px;
    width:30px;
}

.top-nav a:hover{
    border-bottom:2px solid lime;
    padding:3px 0;
}

.recently-title{
    padding:0 20px;
    margin-top:30px;
    font-size:1.3rem;
}

.subtitle{
    margin-left:20px;
}

.recently-played{
    display:flex;
    justify-content:flex-start;
    margin:20px;
    text-align:center;
    width:calc((100% - 170px) / 6);
    gap:10px;
}

.recently-played img{
    width: 120px;
}

.recently-cover{
    width:120px;
}

.tailored-cover{
    width:120px;
}


.tailored-cover-popular {
    width:140px;
    border-radius:50%;
    display:inline-block;
    vertical-align: middle;
    margin-right:10px;
}

.popular-played{
    display:flex;
    justify-content:flex-start;
    margin:30px 20px;
    text-align:center;
    width:87%;
    
}

.title{
    font-size:0.8rem;
    font-weight:bold;
    padding:10px 0 5px 0;
    vertical-align: middle;
}

.subtitle, .subtitle-pop{
    font-size:.7rem;
    color:gray;
    margin:0;
}

.subtitle-pop{
    font-size:.7rem;
    color:gray;
    margin-left:18px;
    }




/************Trackbar************/

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    /* width: 25rem; */
    }

    input[type="range"]:focus {
    outline: none;
    }
    
    input[type="range"]::-webkit-slider-runnable-track{
    background-color: #ace407;
    border-radius: 0.5rem;
    height: 0.5rem;
}

    input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    margin-top: -4px; 
    background-color: #808080;
    border-radius: 0.5rem;
    height: 1rem;
    }
    
    input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #808080;
    outline-offset: 0.125rem;
    }

    input[type="range"]::-moz-range-track {
    background-color:gray;
    border-radius: 0.5rem;
    height: 0.3rem;
    cursor:pointer;
    }

    input[type="range"]::-moz-range-thumb {
    background-color: #808080;
    border: none; 
    border-radius: 0.5rem;
    height: 1rem;
    width: 0rem;
}

/* Media Query */

@media screen and (max-width:768px){
        .recently-played{
            display:flex;
            flex-wrap: wrap;
            width:95%;
        }
        .btn-upgrade {
            
        font-size:0.6rem;
            
        }

        
    }


