/* RESET */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/* Classi generiche */
.clearfix::after{
    content:"";
    display:table;
    clear:both;
}

.relative{
    position:relative;
}

/* inizio custom style */

body{
    font-family:'Circular Std', sans-serif;
    
}

a:link{
    color:white;
}

h1{
    margin-bottom:10px 5px;
    
}

h5{
    display:inline-block;
    padding:2px 5px;
    font-size:.8rem;
    color:white;
    vertical-align: middle;
}

h6{
    position:absolute;
    font-size:.8rem;
    color:gray;
    width:80px;
    line-height: 2rem;
    left:2.4rem; 
}

footer{
    width:100%;
    height:70px;
    background-color:rgb(40,40,40);
    color:white;
    display:flex;
    justify-content:space-between;
    padding:0 10px;
    z-index:11;
    position:fixed;
    
}

input{
    width:100px;
}

.call-to-action{
    background-color: rgb(9,11,18);
    width:calc(100% - 170px);
    height:70px;;
    text-align:right;
    line-height:9vh;
    padding:0 10px;
    float:right;
    position:fixed;
    z-index:11
}

.btn-upgrade {
    border-radius:20px;
    background-color: rgb(9,11,18);
    border: 1px solid white;
    padding:10px 30px;
    text-decoration:none;
    color:white;
    font-size:0.7rem;
    font-weight:bold;
    text-transform:uppercase;
}

.nav-sidebar{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:0 1.3rem;
    height:100%;
}

.nav-icon{
    width:20px;
    vertical-align:middle;
    padding-bottom:8px;
    margin-top:8px;
    
}

.nav-sidebar h4{
    text-transform:uppercase;
    font-size:0.7rem;
    margin:20px 0 10px 0;

}

.nav-sidebar p{
    margin:3px 0;
    font-size:0.7rem;
    line-height:1.5rem;
    
}

.square{
    width:28px;
    height:28px;
    background-color:gray;
    color:black;
    line-height: 3rem;
    margin-bottom:10px;
}

.square p{
    display:inline-block;
    line-height:2px;
    width:500px;
    font-size:.8rem;
}

.add{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:flex;
    font-size:1.8rem;
}

.install-app{
    padding:10px 0;
}

.install-app img{
    width:20px;
    height:20px;
    background-color:gray;
    border-radius:50%;
    margin-right:5px;
    vertical-align: middle;
    display: inline-block;
}

.install-app p, i{
    font-size:0.7rem;
    display:inline-block;
    margin-left:5px;
    padding:1px;
    color:gray;
}

.install-app .doe{
    font-weight:bold;
    font-size: 0.8rem;
    margin-top:10px;
}

.install{
    margin-top:15px;
    
}

.playlist p{
    color:gray;
}

.album-small{
    width:30px;
    vertical-align:middle;
}

.album {
    font-size:0.6rem;
    line-height:10px;
    font-weight:bold;
    float:left;
    padding: 5px 10px;
  
    
}

.album-name{
    font-size:.5rem;
    color:gray;
    
    
}

.album-icon i{
    font-size:11px;
}

.player-control .player>i{
    margin-right:1.3rem;
    font-size: 0.8rem;
    color:white;
}

.player-control .player>i:nth-of-type(3){
    font-size: 1.5rem;
    vertical-align:middle;
}

.player-control{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top:8px;
    line-height:0;
    
}

.player{
    padding-bottom:5px;    
}

.player-trackbar-center{
    width:280px;
    background-color:gray;
    border-radius:5px;
    height:5px;
}

.volume-trackbar{
    width:140px;
    background-color:gray;
    border-radius:5px;
    height:5px;
}

.timer {
    display: inline-block;
    font-size:0.6rem;
    line-height:0.6rem;
    margin:0 10px;
}

input#timer{
    width:270px;
}

.timing{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:0px;
}

.playing{
    
    display:flex;
    justify-content:space-between;
    align-items:center;
    
}

.right-control {
    display:flex;
    
    
}       

.control{
    display:flex;
    justify-content:space-between;
    align-items:center;
    
    
}

.control i{
    color:white;
    margin-right:3px;
    font-size:.7rem;
}

#main-logo{
    padding:1rem;
    width:130px;
    background-color:black;
}

section#col-left {
    width:170px;
    height:100%;
    background-color:black;
    display:flex;
    flex-direction:column;
    color:white;
    float:left;
    z-index:1;
}

section#main-area{
    width:calc(100% - 170px);
    background-color:rgb(21,25,33);
    float:right;
    color:white;
    overflow:auto;
    height:100%;
}



main {
    height:calc(100vh - 70px);
}


.top-nav{
    margin-top:80px;
    display:flex;
    justify-content:space-around;
    text-transform:uppercase;
    color:gray;
}

.top-nav ul{
    list-style-type: none;
}

.top-nav li{
    font-size:0.8rem;
    display: inline;
    font-weight:bold;
}

.top-nav a{
    text-decoration:none;
    color:gray;
    margin-right:15px;
    width:30px;
}

.top-nav a:hover{
    border-bottom:2px solid lime;
    padding:3px 0;
}

.recently-title{
    padding:0 10px;
    margin-top:40px;
    padding-bottom:10px;
    font-size:1.5rem;
}

.subtitle-pop{
    padding-bottom:15px;
}

.recently-played{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    padding:10px;
    text-align:center;
    
}

.recently-cover{
    width:calc(calc(100% - 50px) / 6);
    margin:20px 0;
}

.recently-cover img{
    width:100%;
}


.cover-circle {
    width:120px;
    border-radius:50%;
    display:inline-block;
    vertical-align: middle;
    margin-right:10px;
}


.title{
    font-size:0.8rem;
    font-weight:bold;
    padding:10px 0 5px 0;
    vertical-align: middle;
}

.subtitle{
    font-size:.7rem;
    color:gray;
    margin:0;
}

.subtitle-pop{
    font-size:.8rem;
    color:gray;
    margin-left:10px;
    }


    /* Media Query */


@media screen and (min-width:577px) and (max-width:768px){
    .recently-cover {
        width: calc(calc(100% - 30px) / 4);
        }
    .btn-upgrade {
        font-size:0.6rem;
        }
    } 

    @media screen and (max-width:576px){

    .recently-cover {
        width: calc(calc(100% - 30px) / 2);
    }

    section#col-left {
        width:150px;
    }

    section#main-area{
        width:calc(100% - 150px);
    }

    .call-to-action{
        width:calc(100% - 150px);
    }

    .top-nav ul {
        margin-right:10px;
        text-align:center;
    }

    .top-nav a{
        margin-right:25px;
        line-height:40px;
        
    }

    .player-trackbar-center{
        width:170px;
        
        
    }
    
    .volume-trackbar{
        width:50px;
    }

    .player-control .player>i{
        margin-right:1.5rem;
    }
    
    .player{
        margin-left:20px;
    }
}

@media screen and (max-width:400px){
    
    section#main-area{
        width:calc(100% - 50px);
    }

    #main-logo{
        background-image: url(../img/logo-small.svg);
        background-size: contain;
        background-repeat: no-repeat;
        height:30px;
        margin:10px 10px;
    }
    

    section#col-left {
        width:50px;
        background-color:black;
        display:flex;
        align-items:space-between;
        flex-direction:column;
        color:white;
        float:left;
    }
    
    .nav-sidebar h5, .playlist, .install p,
    .playlist, hr, .doe span {
        display:none;
    }
    
    div.player-trackbar-center {
        width:100px;
    }

    div.volume-trackbar{
        width:35px;
    }

    .player-control .player>i{
        margin-right:0.5rem;
        font-size: 0.7rem;
        color:white;
        padding:5px 0;
    }

    .album-small{
        width:35px;
        
    }
    
    .nav-sidebar{
        padding:0 1rem;
    }

    .install-app {
        padding:10px 0;
    }
    
    .call-to-action{
        width:calc(100% - 50px);
    }
}